<!-- Skills -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="primary">Skills</h2>

                <ul class="list-unstyled bigger">

                    <li>
                        <h4>Design</h4>
                        <ul class="list-unstyled medium">
                            <li>UI &amp; UX</li>
                            <li>Adobe Programs</li>
                            <li>Sketch</li>
                            <li>Prototyping (Princple &amp; Origami)</li>
                        </ul>
                    </li>

                    <li>
                        <h4>Front End</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled medium">
                                    <li>Angular</li>
                                    <li>jQuery</li>
                                    <li>CSS3</li>
                                    <li>Responsive Web</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled medium">
                                    <li>LESS, SASS</li>
                                    <li>JS Libraries</li>
                                    <li>Grunt, Gulp</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <h4>Back End</h4>
                        <ul class="list-unstyled medium">
                            <li>PHP</li>
                            <li>MySQL</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>
