<!-- Experience -->
<section class="bigger">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="primary">Experience</h2>
            </div>
        </div>
        <ul class="list-unstyled bigger">
            <li>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Side Projects</h4>
                        <p>
                            Jun 2015 - Present
                        </p>
                    </div>
                    <div class="col-md-7">
                        <h4>Project Manager, Web Designer &amp; Developer</h4>
                        <p>
                            Worked on large side projects of mine as well as freelance work.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-5">
                        <h4>IronSource</h4>
                        <p>
                            May 2014 - Jun 2015
                        </p>
                    </div>
                    <div class="col-md-7">
                        <h4>Webmaster, Web Developer</h4>
                        <p>
                            Developed the company’s products websites and constantly maintained them - From servers configuration to Front End and Back End.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-5">
                        <h4>WebsPlanet</h4>
                        <p>
                            Apr 2012 - Jun 2012
                        </p>
                    </div>
                    <div class="col-md-7">
                        <h4>Web Designer &amp; Develeoper</h4>
                        <p>
                            Creating templates for a system that generates websites massively, focusing on both design and code.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Freelancer</h4>
                        <p>
                            Jan 2005 - Apr 2012
                        </p>
                    </div>
                    <div class="col-md-7">
                        <h4>Project Manager, Web Designer &amp; Developer</h4>
                        <p>
                            Started my way doing many freelance works from various categories.
                        </p>
                    </div>
                </div>
            </li>
        </ul>






    </div>
</section>
